# Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [1]:
#!conda install lxml -y

error: incomplete escape \U at position 28

In [3]:
%pip install lxml

:

In [3]:
%pip install pandas

:

In [2]:
#conda update -n base -c defaults conda

In [2]:
%pip install pandas

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pandas in c:\users\batch 37 piaic\anaconda3\envs\myenv3_12\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\batch 37 piaic\anaconda3\envs\myenv3_12\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\batch 37 piaic\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\batch 37 piaic\anaconda3\envs\myenv3_12\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\batch 37 piaic\anaconda3\envs\myenv3_12\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\batch 37 piaic\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
%pip install lxml

Collecting lxml
  Using cached lxml-5.1.0-cp312-cp312-win_amd64.whl.metadata (3.6 kB)
Using cached lxml-5.1.0-cp312-cp312-win_amd64.whl (3.9 MB)
Installing collected packages: lxml
Successfully installed lxml-5.1.0
Note: you may need to restart the kernel to use updated packages.

# Python Arithmetic Operators

In [1]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a : int = 9
b : int = 6

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

15
3
54
1.5

In [3]:
a : int = 11
b : int = 3

print(a % 3)

2

In [4]:
print(2**2)
print(2**3)

4
8

In [5]:
print(12 / 3)

4.0

In [6]:
print(14.8 / 3)

4.933333333333334

In [7]:
print( 14.8 // 3)

4.0

In [8]:
print( 14 // 3)

4

# Python Assignment Operators

In [9]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [11]:
a : int = 8
print(b := 8)

8

In [12]:
# = assign
a : int = 7
b : int = 2

In [13]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [14]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [15]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [16]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [17]:
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

False

In [18]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [19]:
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == 7
# True

False

In [20]:
# !=
a : int = 7
b : int = 7

print( a != b )
# a == b
# 7 == 7
# False

False

In [21]:
# !=
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [22]:
# !=
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 8
# False

False

In [23]:
# !=
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [24]:
# !=
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [25]:
# !=
a : int = 2
b : int = 7

print(a >= b)

False

In [26]:
# !=
a : int = 7
b : int = 7

print(a >= b)

True

In [27]:
# !=
a : int = 7
b : int = 7

print(a <= b)

True

In [28]:
# !=
a : int = 7
b : int = 7

print(a => b)

SyntaxError: invalid syntax (2966280906.py, line 5)

In [29]:
ord('A')

65

In [30]:
chr(65)

'A'

In [31]:
a : str = 'A'
b : str = 'B'

print(b >= a)

True

In [32]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

True

# Python Logical Operators

In [33]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [34]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [35]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [36]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

In [37]:
not True

False

In [38]:
name : str = "Kandhari"
print(not name=="Kandhari")
# name == "Sir Qasim"
# "Qasim" == "Sir Qasim"
# True

False

In [39]:
name : str = "Kandhari"
print(name!="Kandhari")
# name == "Sir Qasim"
# "Qasim" == "Sir Qasim"

False

# Python Identity Operators

In [40]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [41]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140704883884632
140704883884632

In [42]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

140704883884632
1905212105200

False

In [43]:
x is z

True

In [44]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140704883884632
140704883884632

False

# Python Membership Operators

In [45]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [46]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [47]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [48]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [49]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

False

In [50]:
names : list[str] = ['Sir Zia','Sir Inam', 'Sir Qasim']

uinput : str = input("Enter your name")

uinput in names

:

In [1]:
names : list[str] = ['Sir Zia','Sir Inam', 'Sir Qasim']

uinput : str = input("Enter your name")

uinput not in names

:

In [1]:
uinput not in names

NameError: name 'uinput' is not defined

# PEMDAS

In [2]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

Parentheses/Brackets
Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
MD Multiplication and Division (left-to-right)
AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

[ 3 ]

In [3]:
print((6 + 3) - (6 + 3))

0

In [4]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [5]:
# unzip
#0  1    2     0        1   2
a , b  , c  = 'Sir qasim', 7, 3.0

print(a)
print(b)
print(c)

Sir qasim
7
3.0

In [6]:
'Sir qasim', 7, 3.0

('Sir qasim', 7, 3.0)

In [7]:
a, b, c = ('Sir qasim', 7, 3.0)
print(a)
print(b)
print(c)

Sir qasim
7
3.0

In [8]:
data = ('Kandhari', 7, 3.0)
print(data[0], data[1], data[2])

Kandhari 7 3.0

In [9]:
data = ('Kandhari', 7, 3.0)
print(*data)

Kandhari 7 3.0

In [10]:
2 * 2
"a" * 3

'aaa'

In [11]:
# akadkjas


# adskf
# ads
# Falsea
# df

In [19]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [20]:
import this

# Exercises Chapter 2

2-9. Number Eight: Write addition, subtraction, multiplication, and division 
operations that each result in the number 8. Be sure to enclose your operations 
in print() calls to see the results. You should create four lines that look like this:
print(5+3)Your output should be four lines, with the number 8 appearing once on 
each line.

In [21]:
print(4*2)
print(7+1)
print(11-3)
print(80/10)

8
8
8
8.0

2-10. Favorite Number: Use a variable to represent your favorite number. Then, 
using that variable, create a message that reveals your favorite number. Print 
that message

In [22]:
num = 18
show = f"My favorite number is {num}."

print(show)

My favorite number is 18.

2-11. Adding Comments: Choose two of the programs you’ve written, and 
add at least one comment to each. If you don’t have anything specific to write 
because your programs are too simple at this point, just add your name and the 
current date at the top of each program file. Then write one sentence describing 
what the program does.

2-12. Zen of Python: Enter import this into a Python terminal session and skim 
through the additional principles

In [23]:
import this